---
import '../styles/global.css';

interface Props {
	variant: string;
	color: string;
    text: string;
    link: string;
}

const { variant, color, text, link} = Astro.props;
---

<a class = {variant} href = {link}> {text} </a>

<style define:vars={{ color }}>
    a {
        padding: 15px 30px;
        background-position: 100%;
        border-radius: 60px;
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        border-color: var(--color);
        text-decoration: none;
        border: 8px;
        border-style: solid;
        transition: 0.2s;
    }
    .filled {
        color: white;
        border-color: var(--color);
        background-color: var(--color);
    }
    .outlined {
        color: var(--color);
        background-color: white;
    }
    .disabled {
        color: var(--color);
        background-color: white;
        pointer-events: none;
        opacity: 0.3;
    }
    a:hover {
        filter: brightness(80%);
    }
    a:active {
        filter: brightness(100%);
    }

</style>

